*{
  box-sizing: border-box;
}
.row{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
}


.row > div {
  border: 3px solid red ;
  background-color:#008080;
  margin-right: 35px;
  margin-bottom: 20px;
}
ol {
  clear: both;
}
#title1{ 
    border: 3px solid #908080 ;
    background-color:white;
    float: right;

  }